# C++ objects and libs
*.tmp
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.exe

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# no-shadow build
*.Debug
*.Release

# Visual Studio Build files
*.user
*.sdf
*.suo
bin/
visual_studio/tmp/
visual_studio/GeneratedFiles/
visual_studio/.vs/

# Backup files
*.bak
*.binary
*.db
*.opendb
/export/Archived
